In [1]:
import pandas as pd

In [22]:
df =pd.read_csv('../Datasets_Limpios/olist_products_dataset.csv', sep=';')
df

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40,287,1,225,16,10,14
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44,276,1,1000,30,18,20
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46,250,1,154,18,9,15
3,cef67bcfe19066a932b7673e239eb23d,bebes,27,261,1,371,26,4,26
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37,402,4,625,20,17,13
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45,67,2,12300,40,40,40
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41,971,1,1700,16,19,16
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50,799,1,1400,27,7,27
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60,156,2,700,31,13,20
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58,309,1,2083,12,2,7

In [23]:
unicos=df['product_category_name'].unique()
len(unicos)

74

In [24]:
rango=[]
for e in range(1,75):
    rango.append(e)

In [25]:
print(rango)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74]

In [26]:
len(rango)

74

In [27]:
du=pd.DataFrame({'category_id': rango,'product_category_name':unicos})
du

    category_id                          product_category_name
0             1                                     perfumaria
1             2                                          artes
2             3                                  esporte_lazer
3             4                                          bebes
4             5                          utilidades_domesticas
..          ...                                            ...
69           70                                casa_conforto_2
70           71  portateis_cozinha_e_preparadores_de_alimentos
71           72                             seguros_e_servicos
72           73                      moveis_colchao_e_estofado
73           74                              cds_dvds_musicais

[74 rows x 2 columns]

In [29]:
du.to_csv('category_name_auxiliar.csv',sep=';',index=False)

In [28]:
df=pd.merge(df,du, left_on='product_category_name', right_on="product_category_name", how='left')
df

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,category_id
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40,287,1,225,16,10,14,1
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44,276,1,1000,30,18,20,2
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46,250,1,154,18,9,15,3
3,cef67bcfe19066a932b7673e239eb23d,bebes,27,261,1,371,26,4,26,4
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37,402,4,625,20,17,13,5
...,...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45,67,2,12300,40,40,40,8
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41,971,1,1700,16,19,16,43
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50,799,1,1400,27,7,27,11
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60,156,2,700,31,13,20,13
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58,309,1,2083,12,2,7,11

In [30]:
df=df.drop(columns=['product_category_name'])
df

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,category_id
0,1e9e8ef04dbcff4541ed26657ea517e5,40,287,1,225,16,10,14,1
1,3aa071139cb16b67ca9e5dea641aaa2f,44,276,1,1000,30,18,20,2
2,96bd76ec8810374ed1b65e291975717f,46,250,1,154,18,9,15,3
3,cef67bcfe19066a932b7673e239eb23d,27,261,1,371,26,4,26,4
4,9dc1a7de274444849c219cff195d0b71,37,402,4,625,20,17,13,5
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,45,67,2,12300,40,40,40,8
32947,bf4538d88321d0fd4412a93c974510e6,41,971,1,1700,16,19,16,43
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,50,799,1,1400,27,7,27,11
32949,83808703fc0706a22e264b9d75f04a2e,60,156,2,700,31,13,20,13
32950,106392145fca363410d287a815be6de4,58,309,1,2083,12,2,7,11

In [31]:
df.to_csv('olist_products_dataset_normalizada.csv', sep=';',index=False)