In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('../Tablas Normalizadas/zipCode_City_State_auxiliar.csv', sep=';')
df

       customer_zip_code_prefix          customer_city      customer_state
0                         14409                 franca           Sao Paulo
1                          9790  sao bernardo do campo           Sao Paulo
2                          1151              sao paulo           Sao Paulo
3                          8775        mogi das cruzes           Sao Paulo
4                         13056               campinas           Sao Paulo
...                         ...                    ...                 ...
15028                     87145               paicandu              Paraná
15029                     98860      eugenio de castro   Río Grande do Sul
15030                      5538              sao paulo           Sao Paulo
15031                     74980   aparecida de goiania               Goias
15032                     99043            passo fundo   Río Grande do Sul

[15033 rows x 3 columns]

In [13]:
df['customer_state'].unique()

array([' Sao Paulo', ' Santa Catarina', ' Minas Gerais', 'Parana',
       'Rio de Janeiro', 'Rio Grande do Sul', ' Para', ' Goias',
       ' Espirito Santo', ' Bahia', ' Maranhao', ' Mato Grosso do Sul',
       ' Ceara', ' Distrito Federal', 'Rio Grande do Norte',
       ' Pernambuco', ' Mato Grosso', ' Amazonas', nan, ' Alagoas',
       ' Rondonia', ' Paraiba', ' Tocantins', ' Piaui', 'Acre',
       ' Sergipe', ' Roraima'], dtype=object)

In [12]:
df['customer_state']=df['customer_state'].replace(' Río Grande do Norte','Rio Grande do Norte')

In [14]:
df['customer_state']=df['customer_state'].fillna('Sin Dato')

In [15]:
df.to_csv('zipCode_City_State_auxiliar.csv', sep=';',index=False)